@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AsiaKCUBE";
  src:
    local("AsiaKCUBE"),
    url(/src/assets/splatoon3-fonts-main/Decrypted/AsiaKCUBE-R.ttf)
      format("truetype");
}

@font-face {
  font-family: "BlitzBold";
  src:
    local("BlitzBold"),
    url(/src/assets/splatoon3-fonts-main/Decrypted/BlitzBold.otf)
      format("OpenType");
}

.chat-notification {
  display: flex;
  align-items: center;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.chat-notification-logo-wrapper {
  flex-shrink: 0;
}
.chat-notification-logo {
  width: 60%;
}
.chat-notification-content {
  margin-left: 1.5rem;
}
.chat-notification-title {
  color: #1a202c;
  font-family: AsiaKCUBE;
  font-size: 1.25rem;
  line-height: 1.25;
}
.chat-notification-message {
  color: #718096;
  font-size: 1rem;
  font-family: BlitzBold;
  line-height: 1.5;
}
